*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.testimonials {
    background-color: #9670c1;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        color: #fff;

    }
}

